{% extends 'base.html' %} {% load static %} 
{% block title %}
Private_Chat
{%endblock title %} 
{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css/room.css' %}" /> -->
{% endblock head %} 
{% block body %}
<style type="text/css">
  #chat-area {
    height: 500px;
    margin-bottom: 10px;
  }
  .card-header{
    max-height: 70px;
    height: 60px;
  }
  .profile-image{
		width: 33px;
		height: 33px;
		margin-top: 0px;
		margin-bottom: auto;
	}
  .profile-image:hover{
		cursor: pointer;
	}
  .friend-container:hover{
		background: #d9d9d9;
		cursor: pointer;
	}
	.friends-list-container{
		max-height: 500px;
		overflow-y: auto;
	}
</style>

<div class="d-flex flex-column flex-md-row">
  <!-- Friends List starts -->
    <!-- MEDIUM SCREENS -->
    <div class="d-none d-md-flex card col-3 px-0">
      <div class="card-header">
        <span class="fw-bold fs-2 pe-none">Friends</span>
      </div>
      <div class="d-flex flex-column friends-list-container chats">
          {% for x in m_from_f %}
          <div class="d-flex flex-row p-2 friend-container flex-grow-1 pe-auto" onClick="onSelectFriend('{{x.friend.id}}')" id="friend_{{ x.friend.id }}">
            <img class="profile-image rounder-circle img-fluid" id="friend_img_{{x.friend.id}}" src="{% static 'images/default_profile.png'%}" alt="">
            <div class="d-flex flex-column">
              <span class="lh-base ms-2 username-span text-capitalize">{{ x.friend.name }}</span>
              <span class="message-span">{{ x.message|truncatechars:20 }}</span>
            </div>
          </div>
          <hr class="m-1">
          {% endfor %}
      </div>
    </div>
    <!-- SMALL SCREENS  -->
    <div class="d-flex d-md-none card col-12 px-0">
      <div class="dropdown w-100">
        <button class=" w-100 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Select Friend
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          {% for x in m_from_f %}
          <li class="" >
            <button  class="dropdown-item text-capitalize fs-2" onClick="onSelectFriend('{{x.friend.id}}')">{{ x.friend.name }}</button>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- Friends List ends  -->

    <!-- CHAT CONTAINER STARTS  -->
    <div class="card col-12 col-md-8 px-0" id="id_chatroom_card">
      <!-- CARD HEADER  -->
      <div class="card-header d-flex flex-row" id="{{room_id}}">
        <a class="d-flex flex-row text-decoration-none" href="#" target="_blank" id="id_user_info_container">
        <img class="rounded-circle img-fluid mx-2" id="id_other_user_pimage" src="{% static 'images/default_profile.png'%}" width="40px" height="40px">
        <h3 class="fs-2 m-0 mx-2 lh-base text-capitalize" id="id_other_username">
          
        </h3>
        </a>
        <span id="id_status" class="p-2 mx-3 my-3 bg-danger rounded-circle"></span>
      </div>
      <!-- CARD BODY  -->
      <div class="card-body p-0">
        <span class="d-none" id="page_number">1</span>
        <div class="d-none spinner spinner-border mx-auto">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div id="chat-area" class="d-flex flex-column overflow-auto ps-2 pe-1 pb-2 my-2 border-1">
          <!-- <p class="d-flex justify-content-end  mb-2">
                        <span class="">This is right</span><span class="mx-2">: Harsh </span>
                    </p>
                    <p class="d-flex justify-content-start mb-2">
                        <span class="mx-2">Admin :</span><span class=""> This is left</span>
                    </p> -->
        </div>
        <!-- INPUT CONTAINER STARTS -->
        <div class="row">
          <div class="col-10">
            <input class="form-control" type="text" id="message" />
          </div>
          <div class="col-2">
            <input
              class="btn btn-primary"
              type="button"
              id="send-btn"
              value="SEND"
            />
          </div>
        </div>
        <!-- INPUT CONTAINER ENDS  -->
      </div>
</div>

    

<!-- Client Error MODAL -->
<button type="button" id="id_trigger_client_error_modal" class="d-none btn btn-primary" data-toggle="modal" data-target="#id_client_error_modal">
</button>
<div class="modal fade" id="id_client_error_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Socket Client Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="id_client_error_modal_body">Something went wrong.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="id_client_error_modal_close_btn">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Client Error MODAL -->

{% endblock body %} {% block script %}
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
{% include 'private_chat/snippets/create_or_return_private_chat.html'%}
<script>
  let csrfmiddlewaretoken = "{{ csrf_token }}"
  let roomId = "{{ room_id }}"
  let socket = null
  let chatWindow = document.getElementById("chat-area");
  
  onStart();
  function onStart(){
    {%if not room_id and m_from_f %}
      onSelectFriend("{{m_from_f.0.friend.id}}")
    {% else %}
      setupWebSocket(roomId)
    {% endif %}
  }

  function onSelectFriend(userId){
    console.log("Selecting Friend", userId)
		createOrReturnPrivateChat(userId, csrfmiddlewaretoken)
	}

  // var spinner = document.querySelector(".spinner");
  
  // chatWindow.addEventListener("scroll", function () {
    //   if (Math.abs(chatWindow.scrollTop) == 0) {
      //     getPreviousChatMessages();
      //   }
      // });
      
  function closeWebSocket(){
    if(socket != null){
      socket.close()
      socket = null
    }
  }

  function setupWebSocket(roomId){
    let user = "{{ request.user }}";
    closeWebSocket();
    url = `ws://${window.location.host}/ws/private/room/${roomId}/`;

    socket = new WebSocket(url);

    socket.onopen = function open() {
      console.log("WebSocket Connection Open.");
      socket.send(JSON.stringify({ "room_id": roomId, "command": "join_room" }));
      // getOnlineStatus(userId)
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }

    socket.onmessage = function (e) {
      const data = JSON.parse(e.data);

      // Handling Errors
      if(data.error){
        console.log("Error: " + data.error + " " + data.message)
        showClientErrorModal(data.message)
        return;
      }

      // Handling Join in Clients perspective
      if(data.join) {
        console.log("Joining room " + data.join)
        socket.send(JSON.stringify({"command":"get_user_info", "room_id": roomId}))
        getPreviousChatMessages()
        console.log("OTHER USER ONLINE STATUS", data.onlineStatus)
        setOnlineStatus(data.onlineStatus)
      }

      // Handling Leave
      if(data.leave) {
        console.log("Leaving room " + e.leave)
      }

      // Handle user_info payload
      if(data.user_info) {
        handleUserInfo(data.user_info)
      }

      if(data.msg_type == 0 || data.msg_type == 1 || data.msg_type == 2) {
        appendChatMessage(data, true)
        // create_message(data, true)
      }
      
      if(data.messages_payload) {
        handleLoadMessageEvent(data["messages"], )
      }
    };

    socket.onerror = function (e) {
      console.log("WebSocket Error: ");
      console.log(e);
    };

    socket.onclose = function (e) {
      console.log("WebSocket Closed: ");
      console.log(e);
    };
  }

  function handleUserInfo(userInfo) {
    document.getElementById("id_user_info_container").href="{% url 'account:profile' user_id=124231 %}".replace("124231", userInfo['id'])
    document.getElementById("id_other_username").innerHTML= userInfo["name"]
  }

  function setOnlineStatus(status){
    if(status === true){
      statusElem = document.getElementById("id_status");
      statusElem.classList.remove('bg-danger')
      statusElem.classList.add('bg-success')
    }
    if(status === false){
      statusElem = document.getElementById("id_status");
      statusElem.classList.remove('bg-success')
      statusElem.classList.add('bg-danger')
    }
  }

  function showClientErrorModal(message){
    alert(message)
    document.getElementById("id_client_error_modal_body").innerHTML = message
    document.getElementById("id_trigger_client_error_modal").click()
  }

  function scrollDown() {
    let xH =  chatWindow.scrollHeight;
    chatWindow.scrollTo(0, xH);
  }

  function appendChatMessage(data, isNewMessage) {
    let msg_type = data["msg_type"]
    let message = data["message"]
    let author = data["username"]
    let user = "{{request.user}}"
    let timestamp = data['natural_timestamp']

    switch(msg_type){
      case 0:
        createMessage(message, author, user, timestamp, isNewMessage)
        break;
      case 1:
        // User joined room
        setOnlineStatus(true)
        break;
      case 2:
        // User leave room
        setOnlineStatus(false)
        break;
    }
      
  }
    
    function createMessage(message, author, current_user, timestamp, isNewMessage) {
      
      let messageContainer = document.createElement("div");
      messageContainer.classList.add("d-flex");

      let spacer = document.createElement("div");
      spacer.classList.add("flex-grow-1", "flex-shrink-1")

      let span = document.createElement("span");
      span.classList.add("rounded", "my-1", "px-3", "py-1");
      span.style.maxWidth = "300px";
      
      let msg = document.createElement('p');
      msg.classList.add("text-break", "fs-5", "m-0")
      msg.innerText = message

      let ts = document.createElement("span");
      ts.classList.add("float-end", "fw-normal",  "fst-italic", "text-uppercase")
      ts.style.fontSize = "0.7rem";
      ts.innerText = timestamp;

      span.appendChild(msg)
      span.appendChild(ts)
      
      
      if (author === current_user) {
        span.style.backgroundColor = "#F0F8FF";
        messageContainer.appendChild(spacer)
        messageContainer.appendChild(span)
      } else {
        span.style.backgroundColor = "#a3c2c2";
        messageContainer.appendChild(span)
        messageContainer.appendChild(spacer)
      }
      if (!isNewMessage) {
        document
        .querySelector("#chat-area")
        .insertBefore(messageContainer, chatWindow.firstChild);
      } else {
        document.querySelector("#chat-area").appendChild(messageContainer);
        scrollDown();
      }
    }
    
  sendBtn = document.querySelector("#send-btn");
  inputDOM = document.querySelector("#message");
  
  sendBtn.addEventListener("click", (event) => {
    message = inputDOM.value;
    command = "send_room";
    socket.send(
      JSON.stringify({ message: message, command: command, "room_id": roomId })
    );
    inputDOM.value = "";
  });
  
  function setPaginationExhausted() {
    setPageNumber("-1");
  }

  function setPageNumber(pageNumber) {
    document.getElementById("page_number").innerHTML = pageNumber;
  }

  function getPreviousChatMessages() {
    let page_number = document.getElementById("page_number").innerHTML;
    if (page_number != -1) {
      setPageNumber("-1");
      chatWindow.scrollTo(0, 50);
      socket.send(
        JSON.stringify({
          "command": "get_chat_room_messages",
          "room_id": roomId,
          "page_number": page_number,
        })
      );
      if (page_number == -1) {
      }
    }
  }
  
  function handleLoadMessageEvent(messages, page_number) {
    if (messages != null && messages != undefined && messages != "None") {
      setPageNumber(page_number);
      messages.forEach((message) => {
        appendChatMessage(message, false);
      });
      // toggleSpinner();
    } else {
      setPaginationExhausted();
    }
  }

  inputDOM.addEventListener("keyup", (event) => {
    if (event.keyCode == 13) {
      sendBtn.click();
    }
  });
  
  function loadMessages() {
    socket.send(JSON.stringify({ command: "load_messages" }));
  }
  
  function toggleSpinner() {
    spinner.classList.toggle("invisible");
  }

</script>

{% endblock script %}
