{% load static %}
<script>
  const GENERAL_NOTIFICATION_INTERVAL = 4000
	const GENERAL_NOTIFICATION_TIMEOUT = 5000
  
  let generalCachedNotifList = []  
	
  /*
    Append to bottom. 
    Used for
      1. Page load
      2. pagination
      3. Refresh
    Called by 'handleGeneralNotificationsData' &  'refreshGeneralNotificationsData'
  */
  function submitGeneralNotificationToCache(notification){
      let result = generalCachedNotifList.filter(function(n){ 
        return n['notification_id'] === notification['notification_id']
      })
      // This notification does not already exist in the list
      if(result.length == 0){
        generalCachedNotifList.push(notification)

        // append to bottom of list
        appendBottomGeneralNotification(notification)
      }
      // This notification already exists in the list
      else{
        // find the notification and update it.
        refreshGeneralNotificationsList(notification)
      }
    }

  function refreshGeneralNotificationsList(notification){
		notificationContainer = document.getElementById("id_general_notifications_area")

		if(notificationContainer != null){
			divs = notificationContainer.childNodes

			divs.forEach(function(item){
				// item
				if(item.id == ("id_notification_" + notification['notification_id'])){
					refreshNotificationItem(item, notification);
				}
			})
		}
	}


  /*
		Initialize the general notification menu
		Called when page loads.
	*/
  function setupGeneralNotificationsMenu(){
		var notificationArea = document.getElementById("id_general_notifications_area")

		if(notificationArea != null){
			listItem = createGeneralNotificationListItem("id_no_general_notifications")

			listItem.innerHTML = "You have no notifications."
			notificationArea.appendChild(listItem)
		}
	}

  /*
		Remove the element that says "There are no notifications".
	*/
	function clearNoGeneralNotificationsItem(){
    console.log("Clearing No Notification Item")
		var element = document.getElementById("id_no_general_notifications")
		if(element != null && element != "undefined"){
			document.getElementById("id_general_notifications_area").removeChild(element)
		}
	}

  	/*
		The card that each notification sits in
	*/
	function createGeneralNotificationListItem(listId){
		var item = document.createElement("li")
		if(listId != "undefined"){
			item.id = listId
		}
		item.classList.add("list-group-item", "border-bottom")
		return item
	}

  	/*
		Timestamp at the bottom of each notification card
	*/
	function createGeneralTimestampElement(notification){
		var timestamp = document.createElement("span")
		timestamp.classList.add("d-block", "small", "py-1", "fw-bolder")
		timestamp.innerHTML = notification['natural_timestamp']
		timestamp.id = "id_timestamp_" + notification['notification_id']
		return timestamp
	}

  /*
		Circular image icon that can be in a notification card
	*/
	// function createGeneralProfileImageThumbnail(notification){
	// 	var img = document.createElement("img")
	// 	img.classList.add("notification-thumbnail-image", "img-fluid", "rounded-circle", "mr-2")
	// 	img.src = "{% static 'images/default_profile.png' %}"
	// 	img.id = "id_general_img_" + notification['notification_id']
	// 	return img
	// }

  function createFriendRequestElement(notification){
    let listItemElem = createGeneralNotificationListItem(`id_general_notification_${notification["notification_id"]}`)
    listItemElem.innerHTML = notification["notify_text"]
    listItemElem.addEventListener("click", () => console.log("clicked notification") /*TODO: Do something later */)

    timestampElem = createGeneralTimestampElement(notification)
    console.log("Notification Status", notification["is_active"])

    if(notification["is_active"] === "True"){
      
      acceptBtn = document.createElement("button")
      acceptBtn.classList.add("btn", "btn-success", "mx-2")
      acceptBtn.innerHTML = "Accept"
      acceptBtn.addEventListener("click", e => {
        e.stopPropagation();
        sendFriendRequestSocket("accept", notification["notification_id"])
      })
      acceptBtn.id = "id_accept_notification_" + notification["notification_id"]

      declineBtn = document.createElement("button")
      declineBtn.classList.add("btn", "btn-danger", "mx-2")
      declineBtn.innerHTML = "Decline"
      declineBtn.addEventListener("click", e => {
        e.stopPropagation();
        sendFriendRequestSocket("decline", notification["notification_id"])
      })
      declineBtn.id = "id_decline_notification_" + notification["notification_id"]

      span = document.createElement("span")
      span.id = "id_general_notification_buttons_" +  notification["notification_id"]
      span.classList.add("d-flex", "flex-row", "justify-content-center")
      span.appendChild(acceptBtn)
      span.appendChild(declineBtn)

      listItemElem.appendChild(timestampElem)
      listItemElem.appendChild(span)

      return listItemElem
    }
    else{
      listItemElem.appendChild(timestampElem)
      return listItemElem
    }
  }

  function createFriendListElement(notification){
    listItemElem = createGeneralNotificationListItem(`id_notification_${notification["notification_id"]}`)
    
    listItemElem.addEventListener("click", () => console.log("clicked notification") /*TODO: Do something later */)

    if(notification["notify_text"].length > 50){
      listItemElem.innerHTML = notification["notify_text"].slice(0, 50) + "..."
    }else{
      listItemElem.innerHTML = notification["notify_text"]
    }
    timestampElem = createGeneralTimestampElement(notification)
    listItemElem.appendChild(timestampElem)
    return listItemElem
  }

  function refreshNotificationItem(item, notification){
    item.innerHTML = notification["notify_text"]
    item.childNodes.forEach(
      (element) => {
        if(element.id == ("id_general_notification_buttons_" +  notification["notification_id"])){
          if(notification['is_active'] == "True"){
            //do nothing
          }
          else{
            item.removeChild(element)
          }
        }
        if(element.id == ("id_timestamp_" + notification['notification_id'])){
          element.innerHTML = notification["natural_timestamp"]
        }
      }
    )
  }

  /*
		Append a general notification to the BOTTOM of the list.
	*/
	function appendBottomGeneralNotification(notification){
    console.log("Appending new notification")

    switch(notification['notification_type']) {

      case "FriendRequest":
        notificationArea = document.getElementById("id_general_notifications_area")
        console.log("Notification Area: ", notificationArea.children)
        frItem = createFriendRequestElement(notification)
        console.log("Friend Request Notification: ", frItem)
        notificationArea.appendChild(frItem)
        break;

      case "FriendList":
        notificationArea = document.getElementById("id_general_notifications_area")
        console.log("Notification Area: ", notificationArea.children)
        flItem = createFriendListElement(notification)
        console.log("Friend List Notification: ", flItem)
        notificationArea.appendChild(flItem)
        break;

      default:
    }
    // preloadImage(notification['from']['image_url'], assignGeneralImgId(notification))
  }

  /*
  Send socket message to Consumer
  */
  function sendFriendRequestSocket(type, notification_id){
    if(type==="accept"){
      notificationSocket.send(JSON.stringify({
        'command': "handle_friend_request",
        'type': 'accept',
        'notification_id': notification_id
      }))
    }
    else{
      notificationSocket.send(JSON.stringify({
        'command': "decline_friend_request",
        'type': 'decline',
        'notification_id': notification_id
      }))
    }
  }

  function updateGeneralNotificationDiv(notification){
    container = document.getElementById("id_general_notifications_area")
    if(container != null){
      childs = container.childNodes

      childs.forEach((element)=>{
        if(element.id === (`id_general_notification_${notification["id"]}`)){
          updatedItem = createFriendRequestElement(notification)
          element.replaceWith(updatedItem)
        }
      })
    }
  }

  /*
    Handle General Notifications
  */
  function handleGeneralNotifications(notifications, new_page_number){
    if(notifications.length > 0){
      clearNoGeneralNotificationsItem();
      
      notifications.forEach(notification => {
        submitGeneralNotificationToCache(notification)
        console.log("Handling Notification: ", notification)
        // appendBottomGeneralNotification(notification)
        setGeneralOldestTimestamp(notification['timestamp'])
        setGeneralNewestTimestamp(notification['timestamp'])
      });
      setGeneralPageNumber(new_page_number)
    }
  };

  	/*
		Received a payload from socket containing notifications currently in view.
		Called every GENERAL_NOTIFICATION_INTERVAL
	*/
	function refreshGeneralNotificationsData(notifications){
		console.log(notifications)
		if(notifications.length > 0){
			clearNoGeneralNotificationsItem();
			notifications.forEach(notification => {
				submitGeneralNotificationToCache(notification)

				setGeneralOldestTimestamp(notification['timestamp'])
				setGeneralNewestTimestamp(notification['timestamp'])
			})
		}
	}
  /*
		Received a payload from socket containing NEW notifications
		Called every GENERAL_NOTIFICATION_INTERVAL
	*/
	function handleNewGeneralNotificationsData(notifications){
    	if(notifications.length > 0){
    		clearNoGeneralNotificationsItem()
    		notifications.forEach(notification => {

    			submitNewGeneralNotificationToCache(notification)

				setGeneralOldestTimestamp(notification['timestamp'])
				setGeneralNewestTimestamp(notification['timestamp'])
			})
	    }
	}

  /*
		Append to top OR update a div that already exists.
		Called by 'handleNewGeneralNotificationsData'
	*/
	function submitNewGeneralNotificationToCache(notification){
		var result = generalCachedNotifList.filter(function(n){ 
			return n['notification_id'] === notification['notification_id']
		})
		// This notification does not already exist in the list
		if(result.length == 0){
			generalCachedNotifList.push(notification)

			// append to top of list
			appendTopGeneralNotification(notification)
		}
		// This notification already exists in the list
		else{
			// find the div and update it.
			refreshGeneralNotificationsList(notification)
		}
	}

  function appendTopGeneralNotification(notification){

    switch(notification['notification_type']) {

      case "FriendRequest":
        notificationContainer = document.getElementById("id_general_notifications_area")
        card = createFriendRequestElement(notification)
        notificationContainer.insertBefore(card, notificationContainer.childNodes[0]);
        break;

      case "FriendList":
        notificationContainer = document.getElementById("id_general_notifications_area")
        card = createFriendListElement(notification)
        notificationContainer.insertBefore(card, notificationContainer.childNodes[0]);
        break;

      default:
        // code block
    }
  }

    /*
		Set the number of unread notifications.
	*/
	function setUnreadGeneralNotificationsCount(count){
		var countElement = document.getElementById("id_general_notifications_count")
		if(count > 0){
			countElement.style.background = "red"
			countElement.style.display = "block"
			countElement.innerHTML = count
		}
		else{
			countElement.style.background = "transparent"
			countElement.style.display = "none"
		}
	}

</script>
<script>

  	/*
		Set the number of unread notifications.
	*/
	function setUnreadGeneralNotificationsCount(count){
		var countElement = document.getElementById("id_general_notifications_count")
		if(count > 0){
			countElement.style.background = "red"
			countElement.style.display = "block"
			countElement.innerHTML = count
		}
		else{
			countElement.style.background = "transparent"
			countElement.style.display = "none"
		}
	}
  
  function setOnGeneralNotificationScrollListener(){
		var menu = document.getElementById("id_general_notifications_area")
		if(menu != null ){
			menu.addEventListener("scroll", function(e){

				if ((menu.scrollTop) >= (menu.scrollHeight - menu.offsetHeight)) {
					getNextGeneralNotificationsPage()
				}
			});
		}

	}

	setOnGeneralNotificationScrollListener()

	/*
		Called when pagination is exhausted and there is no more notifications.
	*/
	function setGeneralPaginationExhausted(){
		console.log("general pagination exhausted.")
		setGeneralPageNumber("-1")
	}

	/*
		Sets the pagination page number.
	*/
	function setGeneralPageNumber(pageNumber){
		document.getElementById("id_general_page_number").innerHTML = pageNumber
	}
  	/*
		Keep track of the 'general' oldest notification in view. 
		When 'refreshGeneralNotifications' is called, it refreshes all the notifications newer than this date but newer than 'id_general_newest_timestamp.
	*/
	function setGeneralOldestTimestamp(timestamp){
		element = document.getElementById("id_general_oldest_timestamp")
		current = element.innerHTML
		if(Date.parse(timestamp) < Date.parse(current)){
			element.innerHTML = timestamp
		}
	}

	/*
		Keep track of the 'general' newest notification in view. 
		When 'getNewGeneralNotifications' is called, it retrieves all the notifications newer than this date.
	*/
	function setGeneralNewestTimestamp(timestamp){
		element = document.getElementById("id_general_newest_timestamp")
		current = element.innerHTML
		if(Date.parse(timestamp) > Date.parse(current)){
			element.innerHTML = timestamp
		}
		else if(current == ""){
			element.innerHTML = timestamp
		}
	}
/*
		Refresh the notifications that are currently visible
	*/
	function refreshGeneralNotifications(){
		oldestTimestamp = document.getElementById("id_general_oldest_timestamp").innerHTML
		newestTimestamp = document.getElementById("id_general_newest_timestamp").innerHTML
		if("{{request.user.is_authenticated}}"){
			notificationSocket.send(JSON.stringify({
				"command": "refresh_general_notifications",
				"oldest_timestamp": oldestTimestamp,
				"newest_timestamp": newestTimestamp,
			}));
		}
	}

	/*
		Start the functions that will be executed constantly
	*/
	function startGeneralNotificationService(){
		if("{{request.user.is_authenticated}}" == "True"){
			setInterval(refreshGeneralNotifications, GENERAL_NOTIFICATION_INTERVAL)
      setInterval(getNewGeneralNotifications, GENERAL_NOTIFICATION_INTERVAL)
      setInterval(getUnreadGeneralNotificationsCount, GENERAL_NOTIFICATION_INTERVAL)
		}
	}

	startGeneralNotificationService()

  /*
		Retrieve the next page of notifications
		Called when the user scrolls to the bottom of the popup menu.
	*/
	function getNextGeneralNotificationsPage(){
		var pageNumber = document.getElementById("id_general_page_number").innerHTML
		// -1 means exhausted or a query is currently in progress
		if("{{request.user.is_authenticated}}" && pageNumber != "-1"){
			notificationSocket.send(JSON.stringify({
				"command": "get_general_notifications",
				"page_number": pageNumber,
			}));
		}
	}

  	/*
		Retrieve any new notifications
		Called every GENERAL_NOTIFICATION_INTERVAL seconds
	*/
	function getNewGeneralNotifications(){
		newestTimestamp = document.getElementById("id_general_newest_timestamp").innerHTML
		if("{{request.user.is_authenticated}}"){
			notificationSocket.send(JSON.stringify({
				"command": "get_new_general_notifications",
				"newest_timestamp": newestTimestamp,
			}));
		}
	}

  /*
		Set the inital timestamp value for id_general_oldest_timestamp.
		This timestamp is used to determine what constitutes a "NEW" notification or an "OLD" notification.
	*/
	function setInitialTimestamp(){
		// ('%Y-%m-%d %H:%M:%S.%f')
		var today = new Date();
		var month = today.getMonth()+1
		if(month.toString().length == 1){
			month = "0" + month
		}
		var day = today.getDate()
		if(day.toString().length == 1){
			day = "0" + day
		}
		var hours = today.getHours()
		if(hours.toString().length == 1){
			hours = "0" + hours
		}
		var minutes = today.getMinutes()
		if(minutes.toString().length == 1){
			minutes = "0" + minutes
		}
		var seconds = today.getSeconds()
		if(seconds.toString().length == 1){
			seconds = "0" + seconds
		}
		var ms = "000000"
		var date = today.getFullYear()+'-'+month+'-'+day + " " + hours + ":" + minutes + ":" + seconds + "." + ms
		document.getElementById("id_general_oldest_timestamp").innerHTML = date
	}

	setInitialTimestamp()

  	/*
		Retrieve the number of unread notifications. (This is the red dot in the notifications icon)
		Called every GENERAL_NOTIFICATION_INTERVAL
	*/
	function getUnreadGeneralNotificationsCount(){
		if("{{request.user.is_authenticated}}"){
			notificationSocket.send(JSON.stringify({
				"command": "get_unread_general_notifications_count",
			}));
		}
	}

	/*
		Sets all the notifications currently visible as "read"
	*/
	function setGeneralNotificationsAsRead(){
		if("{{request.user.is_authenticated}}"){
			oldestTimestamp = document.getElementById("id_general_oldest_timestamp").innerHTML
			notificationSocket.send(JSON.stringify({
				"command": "mark_notifications_read",
			}));
			getUnreadGeneralNotificationsCount()
		}
	}


</script>