{% extends 'base.html' %} {% load static %} {% block title %}{{room_name}} 
{%endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'css/room.css' %}" />
{% endblock head %} {% block body %}

<div class="container my-2">
    <div class="card col-12 px-0">
      <div class="card-header d-flex flex-row justify-content-between">
        <span class="fw-bolder fs-2 ">{{ room_title }}</span>
        <p class="m-0 lh-lg">Connected Users: <span class="" id="connected_users">0</span></p>
        <button class="btn btn-danger" onclick="leaveRoom()">Leave Room</button>
      </div>
      <div class="card-body text-center p-0">
        <span class="d-none" id="page_number">1</span>
        <span class="d-none" id="connected_users">0</span>
        <div class="spinner d-none spinner-border mx-auto">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div id="chat-area" class="overflow-auto py-3">
          <!-- messages go here  -->
        </div>
        <!-- <textarea name="" class="p-2" id="chat-area" cols="80" rows="25" disabled style="resize: none;"></textarea><br> -->
        <div class="d-flex flex-row">
          <div class="col-11">
            <textarea class="form-control" name="message" id="message" cols="30" rows="1"></textarea>
          </div>
          <div class="col-1">
            <input
              class="btn btn-primary w-100"
              type="button"
              id="send-btn"
              value="SEND"
            />
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock body %} {% block script %}
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
<script>
  var spinner = document.querySelector(".spinner");
  var chatWindow = document.getElementById("chat-area");
  function scrollDown() {
    let xH = chatWindow.scrollHeight;
    chatWindow.scrollTo(0, xH);
  }

  function leaveRoom() {
    socket.send(
      JSON.stringify({
        command: "leave_room",
        data: "",
      })
    );
    window.location.replace("http://" + window.location.host);
  }

  function setPaginationExhausted() {
    setPageNumber("-1");
  }

  function getPreviousChatMessages() {
    let page_number = document.getElementById("page_number").innerHTML;
    if (page_number != -1) {
      setPageNumber("-1");
      chatWindow.scrollTo(0, 50);
      socket.send(
        JSON.stringify({
          command: "load_messages",
          page_number: page_number,
        })
      );
      if (page_number == -1) {
      }
    }
  }

  function setPageNumber(pageNumber) {
    document.getElementById("page_number").innerHTML = pageNumber;
  }

  function handleLoadMessageEvent(messages, page_number) {
    if (messages != null && messages != undefined && messages != "None") {
      setPageNumber(page_number);
      messages.forEach((message) => {
        create_message(message, false);
      });
      toggleSpinner();
    } else {
      setPaginationExhausted();
    }
  }

  chatWindow.addEventListener("scroll", function () {
    if (Math.abs(chatWindow.scrollTop) == 0) {
      getPreviousChatMessages();
    }
  });

  let room = "{{ room_title }}";
  let user = "{{ request.user }}";
  url = `ws://${window.location.host}/ws/chat/room/${room}/`;

  const socket = new ReconnectingWebSocket(url);

  socket.onopen = function open() {
    console.log("WebSocket Connection Open.");
    chatWindow.scrollTo(0, chatWindow.scrollHeight);
    getPreviousChatMessages();
  };

  if (socket.readyState == WebSocket.OPEN) {
    socket.onopen();
  }

  socket.onmessage = function (e) {
    const data = JSON.parse(e.data);

    if (data["command"] === "show_spinner") {
      toggleSpinner();
    }
    //if(data['command'] === 'stop_spinner'){hideSpinner();}

    if (data["command"] === "connected_users") {
      setConnectedUsersCount(data["connected_users"]);
    }

    if (data["command"] === "load_messages") {
      handleLoadMessageEvent(data["messages"], data["new_page_number"]);
    } else if (data["command"] === "new_message") {
      create_message(data["message"], true);
    }
  };

  function create_message(data, isNewMessage) {
    let message = data["content"];
    let author = data["user"];
    let user_id = data["user_id"]

    let p_tag = document.createElement("p");
    p_tag.classList.add("my-0", "p-1", "d-flex", "flex-row");

    let ts = document.createElement("span")
    ts.classList.add("text-muted", "fs-6")
    ts.innerText = "4:00pm"

    let span_name = document.createElement("a");
    span_name.classList.add("me-3", "ms-2", "fs-6", "text-decoration-none");
    span_name.href = "{% url 'account:profile' user_id=99999999999 %}".replace("99999999999", user_id)

    let span_msg = document.createElement("span");
    span_msg.innerText = message;
    span_msg.classList.add("text-break");

    if (author === user) {
      // p_tag.classList.add("send");
      span_name.classList.add("text-danger");
      // span_msg.classList.add("text-end");
      span_name.innerHTML = "You <b>:</b> ";
      // span_name.classList.add("rtl");
      // span_msg.classList.add("rtl");
      
    } else {
      span_name.classList.add("text-info");
      span_name.innerHTML = author + " <b>:</b> ";
      // p_tag.appendChild(span_name);
      // p_tag.appendChild(span_msg);
    }

    p_tag.appendChild(ts);
    p_tag.appendChild(span_name);
    p_tag.appendChild(span_msg);
    if (!isNewMessage) {
      document
        .querySelector("#chat-area")
        .insertBefore(p_tag, chatWindow.firstChild);
    } else {
      document.querySelector("#chat-area").appendChild(p_tag);
      scrollDown();
    }
  }

  socket.onerror = function (e) {
    console.log("WebSocket Error: " + e);
  };

  socket.onclose = function (e) {
    console.log("WebSocket Closed: " + e);
  };

  sendBtn = document.querySelector("#send-btn");
  inputDOM = document.querySelector("#message");

  sendBtn.addEventListener("click", (event) => {
    message = inputDOM.value;
    username = user;
    command = "new_message";
    socket.send(
      JSON.stringify({ message: message, from: username, command: command })
    );
    inputDOM.value = "";
  });

  inputDOM.addEventListener("keyup", (event) => {
    if (event.keyCode == 13) {
      sendBtn.click();
    }
  });

  function loadMessages() {
    socket.send(JSON.stringify({ command: "load_messages" }));
  }

  function setConnectedUsersCount(users_count) {
    users_box = document.querySelector("#connected_users");
    users_box.innerHTML = users_count;
  }

  function toggleSpinner() {
    spinner.classList.toggle("invisible");
  }
</script>

{% endblock script %}
