{% extends 'base.html' %}
{% load static %}

{% block title %}Profile
{% endblock title %}

{% block body %}

<style>
    .profile-card {
        width: 400px;
    }
</style>

<div class="card  profile-card">
    <div class="card-header">Profile</div>
    <div class="card-body align-items-center">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img class="border border-5 border-success rounded-circle" src="{% static 'images/default_profile.png' %}"
                alt="profile image" width="150" height="150">

            <p class="mb-1 mt-2 field-heading">Name</p>
            <h5>{{name}}</h5>
            <p class='mb-1 mt-2 field-heading'>Email</p>
            {% if is_self %}
                <h5>{{ email }}</h5>
            {% else %}
                {% if hide_email %}
                    <h5>***************</h5>
                {% else %}
                    <h5>{{ email }}</h5>
                {% endif %}
            {% endif %}
            <p class="mb-1 mt-2 field-heading">Username</p>
            <h5>{{username}}</h5>

            {% if is_self %}
                <a href="{% url 'account:edit' user_id=id %}" class="btn btn-primary">Update</a>
                <a href="#">Change Password</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}