{% extends 'base.html' %}
{% load static %}

{% block title %}Profile
{% endblock title %}

{% block body %}

<style>
    .profile-card {
        width: 500px;
    }

    #id_cancel:hover, #id_confirm:hover{
      cursor: pointer;
    }
</style>

<div class="card  profile-card">
    <div class="card-header fs-3 fw-bolder">Profile</div>
    <div class="card-body align-items-center">
        <div class="d-flex flex-column align-items-center">
            <div class="mb-2" id="crop_confirm">
              <span id="id_cancel">cross</span>
              <span id="id_confirm">check</span>
            </div>
            <div id="img-container" class="d-flex flex-column mb-4">
                <img class="img-fluid rounded-circle" id="id_profile_image_display" src="{{form.initial.profile_image.url}}"
                    alt="profile image" width="150" height="150">
                <button id="edit_button" class="btn btn-primary btn-sm" onclick="handleEditImage()">
                  Edit Image
                </button>
            </div>
            
            <form method="post" class="form-group" enctype="multipart/form-data">{% csrf_token %}
              <input class="d-none" type="file" name="profile_image" id="id_profile_image" onchange="readURL(this)">
                <div class="form-floating mb-3">
                    <input type="text" name="name" class="form-control" value="{{ form.initial.name }}" id="inputName" placeholder="Name">
                    <label for="inputName">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" name="email" class="form-control" value="{{ form.initial.email }}" id="inputEmail" placeholder="Email">
                    <label for="inputName">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="username" class="form-control" value="{{ form.initial.username }}" id="inputUserName" placeholder="UserName">
                    <label for="inputUserName">UserName</label>
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" name="hide_email" id="hide_email_switch" {% if form.initial.hide_email %}checked{% endif %}>
                    <label class="form-check-label" for="hide_email_switch">Hide Email</label>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Update</button>
            </form>
            {% for field in form %}
            <p>
                {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        {% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registration_form.non_field_errors}}</p>
				</div>

				{% endif %}
        </div>
    </div>
</div>
<script>
  let cropper, imageFile, base64ImageString, cropX, cropY, cropWidth, cropHeight;
  enableImageOverlay();

  function handleEditImage() {
    imageField = document.getElementById("id_profile_image").click();
  }

  function readURL(input){
    if(input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = e => {
        disableImageOverlay();
        var image = e.target.result;
        var imageDisplay = document.getElementById("id_profile_image_display")
        imageDisplay.src = image
        cropper = new Cropper(imageDisplay, {
          aspectRatio: 1/1,
          crop(e) {
            setImageCropProperties(
              image,
              e.detail.x,
              e.detail.y,
              e.detail.width,
              e.detail.height,
            )
          }
        })
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

  function enableImageOverlay(){
    var profileImage = document.getElementById("id_profile_image")
		profileImage.style.opacity = "1"
		profileImage.style.display = "block"
		profileImage.style.width = "100%"
		profileImage.style.height = "auto"
		profileImage.style.transition = ".5s ease"
		profileImage.style.backfaceVisibility  = "hidden"
		profileImage.style.cursor = "pointer"

    let cropConfirm = document.getElementById("crop_confirm")
    cropConfirm.classList.remove("d-flex")
    cropConfirm.classList.remove("flex-row")
    cropConfirm.classList.remove("justify-content-between")
    cropConfirm.classList.add("d-none")
  }
  function disableImageOverlay(){
    let profileImage = document.getElementById("id_profile_image_display")
    profileImage.style.opacity = "1"

    let editButton = document.getElementById("edit_button")
    editButton.classList.add("d-none")

    let cropConfirm = document.getElementById("crop_confirm")
    cropConfirm.classList.remove("d-none")
    cropConfirm.classList.add("d-flex")
    cropConfirm.classList.add("flex-row")
    cropConfirm.classList.add("justify-content-between")

    let confirm = document.getElementById("id_confirm");
    confirm.addEventListener("click", e=>{
      console.log("sending data to crop...")
      cropImage(
        imageFile,
        cropX,
        cropY,
        cropWidth,
        cropHeight,
      )
      enableImageOverlay();
    })

    let cancel = document.getElementById("id_cancel");
    cancel.addEventListener("click", e=>{
      console.log("Reloading window....")
      window.location.reload();
    })
  }
  	/* return null if invalid or base64String if valid */
	function isImageSizeValid(image){
		console.log("max size: 5120KB")
		// console.log(image)
		var startIndex = image.indexOf("base64,") + 7;
		var base64str = image.substr(startIndex);
		var decoded = atob(base64str);
		console.log("FileSize: " + decoded.length);
		if(decoded.length>= "5240000"){
			return null
		}
		return base64str
	}

  function cropImage(image, x, y, width, height){
    let csrfmiddlewaretoken = "{{csrf_token}}";
    base64ImageString = isImageSizeValid(image)
    if (base64ImageString != null) {
      let payload = {
        'image': base64ImageString,
        'cropX': x,
        'cropY': y,
        'cropWidth': width,
        'cropHeight': height,
      }
      // displayLoadingSpinner(true)
      // Send ajax request
      let xhr = new XMLHttpRequest();
      let url = "{% url 'account:crop-image' user_id=form.initial.id %}"
      xhr.open("POST",url, "true")
      xhr.setRequestHeader("X-CSRFToken", csrfmiddlewaretoken);
      xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
      xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
      xhr.onload = function () {
        if (this.status >= 200 && this.status < 400) {
          let data = JSON.parse(this.response);
          console.log(data);
          if (data["result"] === "success") {
            document.getElementById("id_cancel").click()
          } else if (data["result"] === "error") {
            alert(data["exception"]);
            document.getElementById("id_cancel").click()
          }
        } else {
          console.log("We reached our target server, but it returned an error");
        }
      };
      xhr.onerror = function () {
        // There was a connection error of some sort
      };

      xhr.send(JSON.stringify(payload));
    }
    else {
      alert("Upload an image smaller than 5 MB");
      document.getElementById("id_cancel").click();
    }
  }

  function setImageCropProperties(image, x, y, width, height){
		imageFile = image
		cropX = x
		cropY = y
		cropWidth = width
		cropHeight = height
	}

</script>
{% endblock body %}