{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <!-- BOOSTRAP CSS  -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}">
    <script defer src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- CROPPER JS  -->
    <link rel="stylesheet" href="{% static 'vendor/cropperjs/cropper.min.css' %}">
    <script defer src="{% static 'vendor/cropperjs/cropper.min.js' %}"></script>
    {% block head%} {% endblock head%}
    <style>.cursor-pointer{cursor: pointer;}</style>
</head>
<body>
{% include 'navbar.html' %}
<div class="container my-4">
  {% block body %} {% endblock body %}
</div>
{% block script %} {% endblock script %}
</body>
</html>