{% extends 'base.html' %}

{% block body %}
    <div class="container my-4">
    <form action="#" method="post" class="form-group">{% csrf_token %}
    <input type="text" class="form-control" name="roomName">
    <button type="submit" class="btn btn-primary">Create Room</button>
    </form>
    </div>
{% endblock body %}


{% block script %}
    <script>
        creatRoom = document.querySelector('#createRoom');
        createRoom.addEventListener('click' , ()=>{
            let roomName = document.querySelector('.form-control').value;
            createRoom.setAttribute('href', 'room/'+roomName);

        });
    </script>
{% endblock script %}
