{% extends 'base.html' %}

{% block body %}
<style>
  .public-container{
    max-width: 600px;
  }
</style>
    <div class="public-container container my-4">
    <h1>Welcome to Public ChatRoom</h1>
    {% if user.is_authenticated %}
    <form action="/chat/createroom/" method="post" class="form-group mb-2">{% csrf_token %}
        <input type="text" class="form-control mb-1" name="roomName" placeholder="Create a room">
        <button type="submit" class="btn btn-primary">Create Room</button>
    </form>
    <h3>or</h3>
    <form action="/chat/joinroom" method="get" class="form-group mb-2">
        <input type="text" class="form-control mb-1" name="join" placeholder="Join a room">
        <button type="submit" class="btn btn-primary">Join Room</button>
    </form>
  </div>
    {% else %}
    <h1>You must be logged in to use the chat app</h1>
    <!-- <div class="card">
  <div class="card-header">
    Log In
  </div>
  <div class="card-body">
    <form action="/login/" method="post" class="form-group">{% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="username" id="inputUsername" placeholder="username">
            <label for="inputUsername">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
            <label for="inputPassword">Password</label>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    </div>

    <p>Don't have an account? <a href="/register">Sign up!</a></p>
    </div> -->
    {% endif %}
{% endblock body %}


{% block script %}
    <script>
    //    createRoom = document.querySelector('#createRoom');
    //    createRoom.addEventListener('click' , ()=>{
    //        let roomName = document.querySelector('.form-control').value;
    //        createRoom.setAttribute('href', 'room/'+roomName);

    //    });
    </script>
{% endblock script %}
