{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CHAT-APP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
    <form method="get" action="{% url 'search' %}" class="d-flex">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </ul>

    <span class="d-flex">
      {% if user.is_authenticated %}

      <!-- Chat Dropdown -->
      <div class="btn-group dropstart mx-3 my-auto" id="id_chat_notifications">
        <img class="border border-2 border-light dropdown-toggle" src="{% static 'vendor/bootstrap/icons/chat-right-text.svg' %}" data-bs-toggle="dropdown" aria-expanded="false" alt="User Profile Image" width="30" height="30">
        <div class="dropdown-menu p-0 top-100 end-50" id="id_chat_notifications">
          <div class="card" style="width: 20rem;">
            <div class="card-header">
              <span class="me-2 fw-bold">Messages</span>
              <button class="btn btn-outline-primary" id="id_go_to_chat">Go to Messages</button>
                <span class="d-none" id="id_page_number">1</span>
            </div>
            <ul class="list-group list-group-flush" id="id_chat_notifications_area">
            <li class="list-group-item border-bottom">
              <span></span>
              <span class="d-block small py-1 fw-bolder">You are now friends with harsh27. Say Hello</span>
            </li>
          </ul> 
          </div>
          </div>
      </div>
      <!-- Chat Dropdown  -->

      <!-- Notification Dropdown  -->
      <div class="btn-group dropstart mx-3 my-auto" id="id_general_notifications">
        <img class="border border-2 border-light dropdown-toggle" src="{% static 'vendor/bootstrap/icons/bell.svg' %}" data-bs-toggle="dropdown" aria-expanded="false" alt="User Profile Image" width="30" height="30">
        <div class="dropdown-menu p-0 top-100 end-50">
          <div class="card" style="width: 20rem;">
          <div class="card-header">
            <span class="me-2 fw-bold">NOTIFICATIONS</span>
            <button class="btn btn-outline-primary">Mark as read</button>
              <span class="d-none" id="id_page_number">1</span>
          </div>
          <ul class="list-group list-group-flush" id="id_general_notifications_area">
          <!-- New notifications will be added here -->
          <!-- <li class="list-group-item border-bottom">
            <span>You are no longer friends with harsh27</span>
            <span class="d-block small py-1 fw-bolder">a minute ago</span>
          </li>
          <li class="list-group-item border-bottom">
            <span >You are now friends with harsh27. Say Hello</span>
            <span class="d-block small py-1 fw-bolder">a minute ago</span>
          </li>
          <li class="list-group-item border-bottom">
            <span>
              Harsh send a friend request 
            </span>
            <span class="d-block small py-1 fw-bolder">a minute ago</span>
            <span class="d-flex flex-row justify-content-center">
              <button class="btn btn-success mx-2">Accept</button>
              <button class="btn btn-danger mx-2">Decline</button>
            </span>
          </li>
          <li class="list-group-item border-bottom"><span>You are now friends with harsh27. Say Hello</span>
            <span class="d-block small py-1 fw-bolder">a minute ago</span></li>
          <li class="list-group-item border-bottom"><span>You are now friends with harsh27. Say Hello</span>
            <span class="d-block small py-1 fw-bolder">a minute ago</span>
          </li> -->
        </ul> 
        </div>
      </div>
      </div>
      <!-- Notification Dropdown  -->

      <!-- Profile Dropdown  -->
      <div class="btn-group dropstart mx-3" id="id_user_profile">
        <img class="border border-2 border-light rounded-circle dropdown-toggle" src="{{request.user.profile_image.url}}" data-bs-toggle="dropdown" aria-expanded="false" alt="User Profile Image" width="40" height="40">
        <ul class="dropdown-menu p-0 top-100 end-50">
          <li>
            <span class="list-group-item">
              <a class="nav-link active" aria-current="page" href="{% url 'account:profile' user_id=request.user.id %}">My Profile</a>
            </span>
          </li>
          <li>
            <span class="list-group-item">
              <a class="nav-link active" aria-current="page" href="{% url 'account:logout' %}">Logout</a>
            </span>
          </li>
        </ul>
      </div>
      <!-- Profile Dropdown  -->
      {% else %}
        <span class="nav-item mx-2">
          <a class="nav-link active" aria-current="page" href="{% url 'account:login' %}">Login</a>
        </span>
        <span class="nav-item mx-2">
          <a class="nav-link active" aria-current="page" href="{% url 'account:register' %}">Sign Up</a>
        </span>
      {% endif %}
    </span>

    </div>
  </div>
</nav>
{% include 'snippets/general_notifications.html'%}
<script>
  setupWebSocket()
  function setupWebSocket(){
    url = `ws://${window.location.host}/`;

    notificationSocket = new WebSocket(url);

    notificationSocket.onopen = function open() {
      console.log("Notification WebSocket Connection Open.");
      setupGeneralNotificationsMenu()
      notificationSocket.send(JSON.stringify({'command':'get_general_notifications', 'page_number': 1}));
    };

    if (notificationSocket.readyState == WebSocket.OPEN) {
      notificationSocket.onopen();
    }

    notificationSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      console.log("Notification Data: ", data)
      if(data.msg_type === "0"){
        handleGeneralNotifications(data['notifications'], data['new_page_number'])
      }
    };

    notificationSocket.onerror = function (e) {
      console.log("WebSocket Error: ");
      console.log(e);
    };

    notificationSocket.onclose = function (e) {
      console.log("WebSocket Closed: ");
      console.log(e);
    };
  }

  function setPageNumber(page_number){
    elem = document.getElementById("id_page_number");
    elem.innerText = page_number;
  };

  let go_to_chat = document.getElementById("id_go_to_chat")
  go_to_chat.addEventListener("click", () => {
    console.log("go to chat button clicked")
    window.location.href = "{% url 'private_chat:private-room' %}"
  })
</script>