{% extends 'base.html' %}

{% block body %}
<div class="container my-4">
    <form action="/register/" method="post" class="form-group row">{% csrf_token %}
        <div class="form-floating mb-2 col-6">
            <input type="text" class="form-control" name="fname" id="FName" placeholder="First Name" required>
            <label class="ps-4" for="FName">First Name</label>
            <div class="invalid-feedback">
                Name is required.
            </div>
        </div>
        <div class="form-floating mb-2 col-6">
            <input type="text" class="form-control" name="lname" id="LName" placeholder="Last Name" required>
            <label class="ps-4" for="LName">Last Name</label>
            <div class="invalid-feedback">
                Name is required.
            </div>
        </div>
        <div class="form-floating mb-2 col-12">
            <input type="email" class="form-control" name="email" id="inputEmail" placeholder="name@example.com"
                required>
            <label class="ps-4" for="inputEmail">Email address</label>
            <div class="invalid-feedback">
                Please provide a valid email.
            </div>
        </div>
        <div class="form-floating mb-2 col-12">
            <label class="ps-4" for="inputUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="inputUsername" name="username"
                    aria-describedby="inputGroupPrepend" placeholder="Username" required>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>
        <div class="form-floating mb-2 col-12">
            <input type="password" class="form-control" name="password" id="inputPass" placeholder="password" required>
            <label class="ps-4" for="inputPass">Password</label>
            <div class="invalid-feedback">
                Please choose a password.
            </div>
        </div>
        <div class="form-floating mb-2 col-12">
            <input type="password" class="form-control" id="confirmPass" placeholder="confirm password" required>
            <label class="ps-4" for="confirmPass">Confirm Password</label>
            <div class="invalid-feedback">
                Please enter password again.
            </div>
        </div>
        <div class="col-12 mb-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
    <p>Already have an account? <a href="/login">Log in!</a></p>
</div>
{% endblock body %}